  .movie-background-image img {
    width: 100%;
    border-radius: 16px;
    height: 325px;
  }
  
  
  .movie-banner {
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content: space-evenly;
    top: -200px;
  }
  
  
  .movie-banner-image {
    width: 30%;
  }
  
  .movie-banner-image img {
    width: 100%;
    height: 300px;
    border-radius: 16px;
  }


 
  .movie-info {
    position: relative;
    top: -100px;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    color: #92929D;
    font-weight: 500;
    font-size: 20px;
  }
  
  .movie-info div {
    width: fit-content;
    padding: 10px 30px;
    border-right: 2px solid #92929D;
  }
 
  .movie-tabs {
    height: 43px;
  }
  

  .movie-tabs-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }
  

  .movie-tabs-items li {
    list-style: none;
    width: 150px;
    height: 43px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .movie-tabs-items li:hover {
    color: rgb(165, 165, 165);
    transition: all 0.3s ease-in;
  }
  
  .movie-tabs-items .active {
    border-bottom: 4px solid #3A3F47;
  }
  
  .movie-tabs-content {
    padding: 35px 0px;
  }
  
  .movie-tabs-content-overview-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  
 