.tabs {
    height: 43px;
  }
  

  .tabs-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;

  }
  

  .tabs-items li {
    list-style: none;
    width: 150px;
    height: 43px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    cursor: pointer;
  }
  
  
  .tabs-items .active {
    border-bottom: 4px solid #3A3F47;
  }
  
  .tab-items-content-images .tab-items-content-img {
    width: 100%;
    border-radius: 16px;
  }
  